.pdfCover {
  font-size: 5vw;
}

.markdown-section .mars-question-answer {
  border-bottom: 1px solid #e9e9e9;
  padding: 1rem;
}
.markdown-section .mars-question-answer:not(:last-child),
.markdown-section .mars-question-answer .mars-question {
  margin-bottom: 1rem;
}
.markdown-section .mars-question-answer .mars-question::before {
  content: "Q:";
  margin-right: .5rem;
  color: #333;
  font-weight: bolder;
  font-size: 2rem;
  vertical-align: text-bottom;
}
.markdown-section .mars-question-answer .mars-answer::before {
  content: "A:";
  margin-right: .5rem;
  color: #333;
  font-weight: bolder;
  font-size: 1.5rem;
  vertical-align: text-bottom;
  margin-left: .5rem;
}

.ui-example-container .demo-code-panel .dome-code pre {
  margin: 0;
}
.ui-example-container .demo-code-panel .demo-code-title {
  text-align: center;
  border-bottom: 1px solid #efefef;
  margin: 0;
  user-select: none;
}
.ui-example-container .demo-code-panel .demo-code-title.hidden {
  border-left: none;
}

.ui-example-container .demo-code-btn {
  cursor: pointer;
}
.ui-example-view{
	text-align: center;
}
.ui-example-container > .ui-example-section {
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  margin: 1rem 0;
  padding: 2rem 0rem 0rem;
  border-radius: 5px;
  overflow: auto;
  position: relative;
}

.ui-example-container > .ui-example-section::before {
  content: "demo";
  position: absolute;
  right: 1rem;
  top: 0;
}
.folder.level-2{
  padding-left: 30px;
}
